.loadingTextCSS {
    text-align: center;
    font-size: 20px;
    font-style: italic;
}

.newsContainer {
    display: flex;
    flex-direction: row;
    min-height: 800px;
    flex-wrap: wrap;
    width: 100%;
}

.selectInput {
    width: 20%;
}

@media screen and (max-width: 1000px) {
    .selectInput {
        width: 100%;
    }

}