.allAndFavs {
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    width: fit-content;
    margin: auto;
}

.filtersContainer {
    margin: 3rem auto;
}

.allAndFavs .link * {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    color: #606060;
    padding: 5px 5px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

}

.link {
    text-decoration: none;
}

.allAndFavs *:hover {
    outline: solid 1px #1797ff;
    transition: 0.4s ease-out;
}


.allAndFavs .link .active {
    outline: solid 1px #1797ff;
    color: #1797ff;
}