 .cards {
     margin: 20px;
     display: flex;
     flex-direction: row;
     width: 45%;
     height: 35%;
     border: solid 1px #979797;
     border-radius: 6px;
     cursor: pointer;
     background-color: #ffffff;
 }

 .cards:hover {
     transition: 0.2s ease-out;
     opacity: 0.6;
 }

 .colLeft {
     padding: 30px 20px;
     width: 95%;
 }

 .colRight {
     display: flex;
     align-items: center;
     padding: 30px 35px;
     background-color: #F5F5F5;

 }

 .time {
     margin-bottom: 10px;
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
 }

 .time p {
     font-size: 11px;
 }

 .title {
     font-weight: 400;
 }

 @media screen and (max-width: 1000px) {
     .cards {
         width: 100%;
     }

 }